<div class="index_banner">
    <div class="item">
        <div class="items scaleBg" style="background-image: url(/static/images/banner1.jpg);"></div>
        <div class="inner">
            <div class="block_txt">
                <h4> Goodliness,to be continued</h4>
                <h2>让<span>美好持续</span>发生</h2>
                <h3>
                    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

                    </div>
                </h3>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="items scaleBg" style="background-image: url(/static/images/2.jpg);"></div>
        <div class="inner">
            <div class="block_txt">
                <h4> Goodliness,to be continued</h4>
                <h2>让<span>美好持续</span>发生</h2>
                <h3>我们有让美好持续发生的愿望，更有让美好持续发生的能力</h3>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="items scaleBg" style="background-image: url(/static/images/banner2.jpg);"></div>
        <div class="inner">
            <div class="block_txt">
                <h4> </h4>
                <h2><span>0-12岁</span><br>可持续发展教育体系</h2>
                <h3>0-3岁早教  |  3-6岁幼儿园  |  5-12岁成长衔接  |  6-12岁小学</h3>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="items scaleBg" style="background-image: url(/static/images/banner3.jpg);"></div>
        <div class="inner">
            <div class="block_txt">
                <h4> </h4>
                <h2>幼儿园园所整体解决方案</h2>
                <h3>全程支持  |  个性服务</h3>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="items scaleBg" style="background-image: url(/static/images/banner4.jpg);"></div>
        <div class="inner">
            <div class="block_txt">
                <h4>  </h4>
                <h2>成长管理发展测评</h2>
                <h3>科学量表  |  全面评估  |  教育指导</h3>
            </div>
        </div>
    </div>

</div>
<div class="left slick_txt">
    <div class="prev slick_arrow"></div>
</div>
<div class="right slick_txt">
    <div class="next slick_arrow"></div>
</div>
<div class="number">
    <div class="inner clearfix">
        <span class="active">01</span>
        <span >02</span>
        <span >03</span>
        <span >04</span>
        <span >05</span>
    </div>
</div>