<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cllover.myblog.front.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="cn.cllover.myblog.front.pojo.Article">
    <id column="art_id" jdbcType="BIGINT" property="artId" />
    <result column="art_desc" jdbcType="VARCHAR" property="artDesc" />
    <result column="art_title" jdbcType="VARCHAR" property="artTitle" />
    <result column="art_cat_id" jdbcType="BIGINT" property="artCatId" />
    <result column="art_tags_id" jdbcType="BIGINT" property="artTagsId" />
    <result column="art_point" jdbcType="VARCHAR" property="artPoint" />
    <result column="art_writedate" jdbcType="TIMESTAMP" property="artWritedate" />
    <result column="art_updatedate" jdbcType="TIMESTAMP" property="artUpdatedate" />
    <result column="art_photo" jdbcType="VARCHAR" property="artPhoto" />
    <result column="art_url" jdbcType="VARCHAR" property="artUrl" />
    <result column="art_view" jdbcType="BIGINT" property="artView" />
    <result column="art_like" jdbcType="BIGINT" property="artLike" />
    <result column="art_com_id" jdbcType="BIGINT" property="artComId" />
    <result column="art_status" jdbcType="INTEGER" property="artStatus" />
    <result column="art_open_private" jdbcType="INTEGER" property="artOpenPrivate" />
    <result column="art_user_id" jdbcType="BIGINT" property="artUserId" />
    <result column="art_top" jdbcType="INTEGER" property="artTop" />
    <result column="art_content" jdbcType="LONGVARCHAR" property="artContent" />
    <result column="art_tag_id" jdbcType="BIGINT" property="artTagId" />
    <result column="art_cat_id" jdbcType="BIGINT" property="artCatId" />
    <association property="tags" javaType="cn.cllover.myblog.front.pojo.Tag">
      <id column="tag_id" jdbcType="BIGINT" property="tagId" />
      <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
      <result column="tag_user_id" jdbcType="BIGINT" property="tagUserId" />
    </association>
    <association property="cats" javaType="cn.cllover.myblog.front.pojo.Category">
      <id column="cat_id" jdbcType="BIGINT" property="catId" />
      <result column="cat_name" jdbcType="VARCHAR" property="catName" />
      <result column="cat_user_id" jdbcType="BIGINT" property="catUserId" />
    </association>
    <association property="users" javaType="cn.cllover.myblog.front.pojo.User">
      <id column="user_id" jdbcType="BIGINT" property="userId" />
      <result column="user_usname" jdbcType="VARCHAR" property="userUsname" />
    </association>
  </resultMap>


  <select id="findArticle"  resultMap="BaseResultMap">
    select * from myblog_article
    where art_id = #{artId}
  </select>
  <select id="findAllByUserId" resultMap="BaseResultMap">
    select art_title ,art_point,art_writedate,art_view,art_like,tag_name,cat_name,user_usname,art_status,art_id
      from myblog_article join myblog_tag join myblog_category join myblog_user
      on art_user_id = tag_user_id
      and art_tag_id = tag_id
      and art_cat_id = cat_id
      and art_user_id = user_id
      where art_user_id = #{userId}
  </select>

  <select id="findArticleAll" resultMap="BaseResultMap">
    select art_title,art_point,art_content,art_top,art_open_private,art_desc,tag_name,cat_name,art_status,art_id
      from myblog_article join myblog_tag join myblog_category join myblog_user
      on art_user_id = tag_user_id
      and art_tag_id = tag_id
      and art_cat_id = cat_id
      and art_user_id = user_id
      where art_id = #{artId}
      and art_user_id = #{artUserId}
  </select>

  <select id="findTagsIdAndCountArt" resultMap="BaseResultMap">
    select count(art_tag_id),tag_name
     from myblog_article join myblog_tag
     where tag_user_id  = art_user_id
     and art_tag_id = tag_id
     and art_user_id = #{userId}
     group by art_tag_id
  </select>

  <select id="findDatebyArt"  resultType="hashmap">
    select count(art_id)art_id,DATE_FORMAT(art_writedate,'%Y')art_writedate
      from myblog_article
      where art_user_id = #{userId}
      group by DATE_FORMAT(art_writedate,'%y')
      order by art_writedate asc
  </select>

  <select id="findViewByDesc" resultMap="BaseResultMap">
    select art_view,art_title
      from myblog_article
      where art_user_id = #{userId}
      order by art_view desc
      limit 5
  </select>

  <select id="findLikeByDesc" resultMap="BaseResultMap">
    select art_like,art_title
      from myblog_article
      where art_user_id = #{userId}
      order by art_like desc
      limit 5
  </select>

  <update id="updateArticle" parameterType="cn.cllover.myblog.front.pojo.Article">
    update myblog_article
      set art_title = #{artTitle},
        art_desc = #{artDesc},
        art_point = #{artPoint},
        art_top = #{artTop},
        art_open_private = #{artOpenPrivate},
        art_content = #{artContent},
        art_status = #{artStatus},
        art_tag_id = #{artTagId},
        art_cat_id = #{artCatId},
        art_updatedate = #{artUpdatedate}
        where art_id = #{artId}
        and art_user_id = #{artUserId}
  </update>

  <select id="findByartTagCatId" resultMap="BaseResultMap">
    select art_tag_id,art_cat_id from myblog_article
      where art_id = #{artId}
      and art_user_id = #{artUserId}
  </select>
</mapper>