<div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="nav nav-tabs navbar-nav mr-auto" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manage-tab" data-toggle="tab" href="#manage" role="tab" aria-controls="manage" aria-selected="false">管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="system-tab" data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="false">设置</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/add_blog}">新增</a>
        </li>
    </ul>
</div>